body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(33, 48, 66) !important;
}

nav {
    background: linear-gradient(to right, rgba(32, 31, 31, 0.8), rgba(255, 255, 255, 0));
    padding: 10px;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 10px 150px;
}

a {
    text-decoration: none !important;
    color: #fff !important ;
    font-size: 20px;
    transition: color 0.3s ease;
    text-shadow: 0px 3px 4px rgb(93, 13, 223);
}

a:hover {
    color: rgb(93, 13, 223) !important; 
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 8px;
    font-size: 40px; 
    text-shadow: 0px 3px 4px rgb(93, 13, 223);
}

.main-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-card {
    width: calc(33.33% - 20px);
    background-color: rgb(38, 56, 75);
    padding: 20px;
    box-shadow: 0px 10px 5px rgba(26, 1, 46, 0.1);
    text-align: center;
    margin: 0 10px 20px 0;
    box-sizing: border-box;
}

.movie-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
}

.movie-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}

.movie-card p {
    font-size: 16px;
    color: #ccc;
}

.box {
    position: absolute;
    background-color: #2277af;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    transition: transform 0.0s ease-in-out; 
  }

  #about-body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
  }

  #about-image {
    margin-top: 10px;
  }

#recommended {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 8px;
    font-size: 30px; 
    text-shadow: 0px 3px 4px rgb(93, 13, 223);
}

#moving-box {
    position: fixed;
    top: 20%;
    left: 30%;
    width: 500px;
    height: 340px;
    box-shadow: 0px 10px 5px rgba(83, 4, 211, 0.945);
  }

  #miFormulario {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(46, 72, 104);
    padding: 20px;
    border-radius: 10px;
}

#miFormulario label {
    display: block;
    margin-bottom: 5px;
}

#miFormulario textarea {
    width: 100%;
    padding: 8px;
    resize: none;
}

#miFormulario input[type="submit"] {
    background-color: #250631;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

  
 